<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--节点CSV文件路径-->
    <add key="CSVPath" value="NoIdName.csv" />
    <!--mcs，agvs，wms实时消息队列名-->
    <add key="QueueName" value="SmartCar.OPC.MonitorData" />
    <!--服务AGVS实时消息队列名-->
    <add key="AGVSQueueName" value="SmartCar.ServiceAGVS.AGVSData" />
    <!--消息队列主机IP地址-->
    <add key="Host" value="192.168.27.130" />
    <!--消息队列用户名-->
    <add key="User" value="SmartCar_OPC" />
    <!--消息队列虚拟主机名-->
    <add key="VirtualHost" value="SmartCar" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>