<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="Debug" xsi:type="Console" layout="${date}::${threadid}::${callsite}:${callsite-linenumber}::${message}" />
    <target name="Warn" xsi:type="file" fileName="${basedir}/Logs/Warn/${shortdate}-Warn.log" layout="${date}::${threadid}::${callsite}:${callsite-linenumber}::${message}" />
    <target name="Error" xsi:type="file" fileName="${basedir}/Logs/Error/${shortdate}-Error.log" layout="${date}::${threadid}::${callsite}:${callsite-linenumber}::${message}" />
    <target name="Info" xsi:type="file" fileName="${basedir}/Logs/Info/${shortdate}-Info.log" layout="${date}::${callsite}# ${message}" />
  </targets>
  <rules>
    <logger name="*" levels="Info" writeTo="Info" />
    <logger name="*" levels="Warn" writeTo="Warn" />
    <logger name="*" levels="Error" writeTo="Error" />
    <logger name="*" minlevel="Debug" writeTo="Debug" />
  </rules>
</nlog>